body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #00ff99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



/*Wsrilizando a SECTION*/
.carrousel {
    height: 35rem;/*altura da sessão*/
    position: relative;/*aqui estamos chamando uma das classes*/
}

/*estelizando das caixas (div) que guerdam as imagens*/
.carrousel-slide { /*aqui estamos chamando uma das clases*/
    background-size: cover;
    background-position: center;
}

.carousel-text {
    position: absolute;/*posiciona o elemento de forma abdoluta dentro do container pai com position: reçative*/
    top:50%;/**/
    left: 50%;
    transform: translate(-50%, -50%);/*centraliza o elemento axatamente no meio do container (corrige o deslocamento)*/
    color: #fff;
    text-align: center;
    z-index: 10;
    
    background-color: #011a0f6c;
    padding: 0.5rem;
    border-radius: 20px; /*aumentei eu*/
    
}



.caixa-01 {
    background-image: url(img/1pele.png);
}

.caixa-02 {
    background-image: url(img/3\ pele.jpg);
}

.caixa-03 {
    background-image: url(img/4\ pele.jpg);
    background-size: cover; /**/
    background-position: center;
}
